html,
body {
  font-family: tahoma, verdana, sans-serif;
  color: #222;
  background-color: #fbfbfb;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}

.container {
  max-width: 1024px;
  margin: 0 auto 2em auto;
  padding: 1em 2em;
  position: relative;
}

a {
  color: #334aff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  opacity: 0.8;
}

textarea {
  width: 98%;
  height: 2.5em;
  padding: 0.5em;
  font-family: ui-monospace, SF Mono, Menlo, Consolas, monospace;
  border-radius: 5px;
  border: 1px solid #8b8b8b;
  color: #000;
}

textarea:focus {
  outline: 0;
  border: 2px solid #4d5cd5;
  padding: calc(0.5em - 1px);
}

input[type='text'],
input[type='number'] {
  width: 100%;
  padding: 0.5em;
  font-family: ui-monospace, SF Mono, Menlo, Consolas, monospace;
  border-radius: 5px;
  border: 1px solid #8b8b8b;
  color: #000;
}

textarea:read-only,
input[type='text']:read-only,
input[type='number']:read-only {
  background-color: #f0f0f0;
  color: #555;
}

input[type='text']:disabled,
input[type='number']:disabled {
  background-color: #f0f0f0;
}

input[type='text']:focus,
input[type='number']:focus {
  outline: 0;
  border: 2px solid #4d5cd5;
  padding: calc(0.5em - 1px);
}

h1 {
  font-size: 1.8em;
  margin-top: 1.3em;
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.3em;
    margin-top: 1.5em;
  }
}

code {
  padding: 0.2em 0.4em;
  margin: 0;
  white-space: break-spaces;
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
  font-family: ui-monospace, SF Mono, Menlo, Consolas, monospace;
}

details summary {
  cursor: pointer;
}

fieldset {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #e3e9f3;
  border-radius: 5px;
  border: 1px solid #8b8b8b;
}

ul li {
  margin-bottom: 0.5em;
}

label[for] {
  cursor: pointer;
}

footer {
  margin: 0.5em auto;
  margin-top: 1.5em;
  font-weight: bold;
}

/* ----- language-select ----- */
.language-select-wrapper {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  margin: 1em 0;
  right: 90px;
  top: 0;
}

.language-select-wrapper label {
  margin-right: 0.2em;
}

.btn-primary,
.btn-secondary,
.btn-success {
  font-family: tahoma, verdana, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #fff;
  padding: 6px 16px;
  border-radius: 4px;
  outline: 0;
  border: 0;
  cursor: pointer;
  background-color: #4d5cd5;
  margin: 0.2em 0.4em;
}

.btn-secondary {
  background-color: #6a6a75;
}

.btn-success {
  background-color: #3a953f;
}

.btn-primary:disabled,
.btn-secondary:disabled,
.btn-success:disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
}

.btn-primary:not([disabled]):hover,
.btn-secondary:not([disabled]):hover,
.btn-success:not([disabled]):hover {
  opacity: 0.85;
}

.btn-primary:not([disabled]):active,
.btn-secondary:not([disabled]):active,
.btn-success:not([disabled]):active {
  opacity: 0.75;
}
