/* playground.html */

textarea {
  height: 5.6em;
  font-family: consolas, monospace;
}

textarea.code {
  height: 3.1em;

  @media (max-width: 480px) {
    height: 4.5em;
  }
}

label.sub-label {
  font-size: 15px;
}

h1 {
  margin-top: 1em;
}

h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 0.2em;
}

fieldset {
  margin-top: 0.5em;
  padding-right: 1.5em;
  padding-bottom: 0.3em;
}

.data-not-uploaded {
  color: #666;
  font-size: 14px;
  margin: 0.2em 0.2em 1em 0.2em;
}

.convert-param-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .btn-primary,
  .btn-secondary,
  .btn-success {
    font-size: 1.1em;
    padding: 4px 18px;
    line-height: 1.5;
  }
}

.convert-param-container + .convert-param-container {
  margin-top: 0.6em;
}

.convert-param {
  margin-right: 1em;
}

.share-btn-wrapper {
  text-align: right;

  input.share-url-input {
    width: 40%;

    @media (max-width: 768px) {
      width: 70%;
    }

    @media (max-width: 480px) {
      width: 94%;
    }
  }

  button {
    padding: 5px 12px;
    line-height: 1.2;
    vertical-align: middle;
    font-size: 1em;
    font-weight: normal;
  }

  .copied-message-wrapper {
    position: relative;

    .copied-message {
      min-width: 88px;
      height: 24px;
      background-color: rgba(39, 39, 39, 0.75);
      color: #ffffff;
      font-size: 14px;
      text-align: center;
      border-radius: 6px;
      padding: 5px 10px;
      position: absolute;
      z-index: 999;
      right: 0px;
      top: -76px;

      &:after {
        content: '';
        border-top: 8px solid rgba(39, 39, 39, 0.75);
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        bottom: -8px;
        right: 45px;
        position: absolute;
        z-index: 999;
      }
    }
  }
}

.help {
  cursor: help;
}

.version {
  font-weight: normal;
}

.repository-link-btn {
  vertical-align: middle;
  margin: 0 0.3em;
  display: inline-block;
}

/* ----- toggle-button ----- */
.toggle-btn {
  margin: 0.4em 0.1em 0.1em 0.1em;
  display: inline-block;
  position: relative;
  width: 2em;
  height: 1em;
  border-radius: 50px;
  background-color: #bbb;
  cursor: pointer;
  transition: background-color 0.2s;
}

.toggle-btn:has(:checked) {
  background-color: #4cc152;
}

.toggle-btn::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(0 0 0 / 30%);
  background-color: #fff;
  content: '';
  transition: left 0.2s;
}

.toggle-btn:has(:checked)::after {
  left: 1em;
}

.toggle-btn:not([disabled]):hover {
  opacity: 0.8;
}

.toggle-btn input {
  display: none;
}

.toggle-btn-label {
  display: inline-block;
  position: relative;
  top: -3px;
  margin: 0.4em 0.1em 0.1em 0.1em;
}
