name: CI
on: [push, pull_request]
permissions:
  contents: read

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        node: [16, 18, 20]
    name: Test
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        name: Use Node.js ${{ matrix.node }}
        with:
          node-version: ${{ matrix.node }}

      - name: Install
        run: npm ci

      - name: Test
        run: npm run test
